<% @body_id = 'cart' %>
<div data-hook="cart_container" class="container-fluid">
  <h1><%= Spree.t(:shopping_cart) %></h1>

  <% if @order.line_items.empty? %>
    <div data-hook="empty_cart">
      <div class="alert alert-info light-border"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-primary' %></p>
    </div>
  <% else %>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive">
            <%= render partial: 'form', locals: { order_form: order_form } %>
          </div>

          <div class="row">
            <!-- COUPON CODE -->
            <div class='col-md-4 navbar-form pull-left coupon-code'  data-hook='coupon_code'>
              <div class="input-group">
                <%= order_form.text_field :coupon_code, size: '30', class: 'form-control', placeholder: 'Coupon code' %>
                <span class="input-group-btn">
                  <%= button_tag Spree.t(:coupon_code_apply), class: 'btn btn-default' %>
                </span>
              </div>
            </div>

            <!-- CHECKOUT BUTTONS -->
            <div class="col-md-3 navbar-form pull-right cart-buttons" data-hook="cart_buttons">
              <div class="text-center">
                <%= button_tag class: 'btn btn-default', id: 'update-button' do %>
                  <%= Spree.t(:update) %>
                <% end %>
                <%= button_tag class: 'btn btn-primary', id: 'checkout-link-cart', name: 'checkout' do %>
                  <%= Spree.t(:checkout) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <hr>

    <div id="empty-cart" class="row" data-hook>
      <%= form_tag empty_cart_path, method: :put, class: "col-md-6 pull-left navbar-form cart-buttons" do %>
        <p id="clear_cart_link" class="text-center" data-hook>
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-primary continue' %>
          <%#= Spree.t(:or) %>
          <br class="visible-xs">
          <br class="visible-xs">
          <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-default' %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
