<!-- Meta for Facebook -->
<% content_for :meta_title, @product.name %>
<% content_for :meta_description, strip_tags(@product.description.gsub('&nbsp;', ' ').squish) %>
<% content_for :meta_image, large_image(@product, itemprop: "image") %>

<% raise %>

<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" itemscope itemtype="https://schema.org/Product">
    <div class="row">
      <div class="col-md-12" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body product-show-body text-center">
                <%= very_large_image(@product, itemprop: "image", class: "product-show-image") %>
              </div>
            </div>
            <div id="thumbnails" data-hook>
              <%= render partial: 'thumbnails' %>
            </div>
          </div>

          <div data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>

          <div data-hook="promotions">
            <%= render partial: 'promotions' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

            <div itemprop="description" data-hook="description">
              <%= product_description(@product) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>

    <hr style="width: 100%">

    <div class="row">
      <div class="col-md-10">
        <div data-hook="product_right_part_wrap">
          <div>
            <% unless @product.price == 0 %>
              <div id="cart-form" data-hook="cart_form">
                <%= render partial: 'cart_form' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>
