<h1 class="taxon-title">
  <%= Spree.t(@taxon.name.to_sym) %>
  <% if @taxon.children.any? %> <!--  Check if this is the master taxon -->
    <a href="#<%= @taxon.name %>-dropdown-list" class="fa fa-caret-down" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="<%= @taxon.name %>-dropdown-list"></a>
  <% end %>
</h1>

<% unless params[:keywords].present? %>
  <div class="collapse row" role="tabpanel" id="<%= @taxon.name %>-dropdown-list" aria-labelledby="<%= @taxon.name %>-dropdown-list" aria-expanded="true" data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <div class="<%= @taxon.name %>-dropdown-panel">
        <% @taxon.children.each do |t| %>
          <%= link_to t.name, seo_url(t), class: "taxon-dropdown-list-item col-md-4" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>
<br>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<%# unless params[:keywords].present? %>
  <!-- <div data-hook="taxon_children"> -->
    <%# cache [I18n.locale, @taxon] do %>
      <%#= render partial: 'taxon', collection: @taxon.children %>
    <%# end %>
  <!-- </div> -->
<%# end %>
