<nav class="navbar navbar-default" id="top-nav-bar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-classic" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="locale-choice locale-choice-xs">
        <%= link_to "FR", "/locale/set?locale=fr", class: "fr" %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= link_to "EN", "/locale/set?locale=en", class: "en" %>
      </span>
      <figure id="logo" class="navbar-brand" data-hook>
        <%= logo %>
      </figure>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="navbar-classic">
      <ul class="nav navbar-nav navbar-right">

        <!-- NORMAL TAXONOMIES -->
        <% Spree::Taxonomy.all.each do |taxonomy| %>
          <% taxon = taxonomy.taxons.first %>
          <li class="nav-taxons">
            <div class="taxon" data-hook="taxon">
              <%= link_to Spree.t(taxon.name.to_sym), seo_url(taxon), class: 'breadcrumbs subtaxon-title' %>
            </div>
          </li>
        <% end %>

        <!-- SEARCH BAR -->
        <li id="navbar-search-bar" data-hook>
          <%= render partial: 'spree/shared/search' %>
        </li>

        <!-- CART -->
        <li id="link-to-cart" class="nav-taxons" data-hook>
          <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
          </noscript>
          &nbsp;
        </li>

        <!-- ACCOUNT/LOGIN/LOGOUT LINKS -->
        <li id="navbar-account-link" class="nav-taxons">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Spree.t(:your_account) %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if spree_user_signed_in? %>
              <li><%= link_to Spree.t(:my_account), spree.account_path, class: "dropdown-item" %></li>
              <li><%= link_to Spree.t(:logout), spree.logout_path, class: "dropdown-item" %></li>
            <% else %>
              <li><%= link_to Spree.t(:login), spree.login_path, class: "dropdown-item" %></li>
              <li><%= link_to Spree.t(:signup), spree.signup_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>

        <!-- LOCALE -->
        <li class="locale-choice hidden-xs">
          <%= link_to "FR", "/locale/set?locale=fr", class: "fr" %>/<%= link_to "EN", "/locale/set?locale=en", class: "en" %>
        </li>
        <script>Spree.fetch_cart()</script>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
